# Katana Flight Testing Added Ignores
#start by ignoring everything
*

#now add files want saved
#ArduPlane
!ArduPlane
!.gitignore
!mavlink_msg_raw_katana.h
!KatanaSensors.*
!ArduPlane.*
!defines.h

#MissionPlanner
!MissionPlanner
!CurrentState.cs
!Mavlink
!MAVLinkTypes.cs