# Katana Flight Testing Added Ignores
#start by ignoring obvious things
*.pfx
*.suo
*.user
bin/
obj/
*.ino
driver/
resources/
lib/

#now add files want saved
#ArduPlane
!ArduPlane.ino
!KatanaSensors.*

#MissionPlanner
